.home__container{
    row-gap: 8rem;
}

.home__content{
    grid-template-columns: 116px repeat(2, 1fr);
    padding-top: 5.5rem;
    column-gap: 2rem;
    align-items: center;
}
.home__social {
    display: grid;
    grid-template-columns: max-content;
    row-gap: 1rem;
}
.home__social-icon {
    font-size: 1.5rem;
    color: var(--title-color);
}
.home__social-icon:hover{
    color: var(--title-color-dark);
}
.home__title {
    font-size: var(--big-font-size);
    margin-bottom: var(--mb-2);
}
.home__hand {
    width: 40px;
    height: 40px;
    margin-left: 0.5rem;
}
.home__subtitle{
    position: relative;
    padding-left: 5.4rem;
    font-size: var(--h2-font-size);
    font-weight: var(--font-normal);
    margin-bottom: var(--mb-1);    
}

.home__subtitle::before{
    content: '';
    position: absolute;
    width: 70px;
    height: 2px;
    background-color: var(--text-color);
    left: 0;
    top: 1rem;
}
/* .home__subtitle::after{
    content: '';
    position: absolute;
    width: 70px;
    height: 2px;
    background-color: var(--text-color);
    right: 5;
    top: 1rem;
} */

.home__description{
    max-width: 400px;
    margin-bottom: var(--mb-3);
    font-size: var(--h3-font-size);
}
.home__image{
    background: url(../../assets/myself.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    box-shadow: inset 0 0 0 9px rgba(210, 199, 199, 0.3);
    order: 1;
    justify-self: center;
    width: 300px;
    height: 350px;
    animation: animate_profile infinite 2s ease-in-out ;
}

@keyframes animate_profile {
    0%{
        border-radius: 30% 25% 30%;
    }
    50%{
        border-radius: 30% 20% 10%;
    }
    
}
.home__scroll{
    margin-left: 10.25rem;
}
.home__scroll-down{
    margin-left: .5rem;
    color: var(--title-color);
    font-weight:var(--font-medium);
    font-size: var(--h3-font-size);
}
.scroll__arrow{
    color: var(--title-color);
    font-size: var(--h1-font-size);
    margin-left: .25rem;
}
.wheel{
    animation: animate__wheel 2s infinite ease ;
}
@keyframes animate__wheel {
    0%{
        transform: translateY(0);
    }
    30%{
        transform: translateY(4rem);
    }
}

/* For large devices */
@media screen and (max-width: 992px) {
    .home__content{
        grid-template-columns: 100px repeat(2,1fr); /*repeat(2, 1fr): This creates two columns with equal width using the 1fr unit*/
        column-gap: 1.25rem;
    }
  }
  
  /* For medium devices */
  @media screen and (max-width: 768px) {
    .home__content{
        grid-template-columns: 0.5fr 3fr;
    }
   .home__image{
    order: initial;
    justify-self: initial;
   }
   .home__data{
    grid-column: 1/3;
   }
   .home__title{
    font-size: 2.2rem;
   }
   .home__subtitle{
    font-size: var(--h3-font-size);
    padding-left: 3.5rem;
   }
   .home__subtitle::before{
    width: 45px;
    
   }
   .home__description{
    max-width: initial;
    font-size: var(--normal-font-size);
   }

   .home__description{
    margin-bottom: 5rem;
    }
   .home__scroll{
    display: none;
   }
  }
  
  @media screen and (max-width: 576px) {
    .home__container{
        grid-template-columns: 2fr,1fr;
    }
    .home__image{
        width: 230px;
        height: 250px;
    }
    
  }
  
  
  /* For small devices */
  @media screen and (max-width: 350px) {
    .home__hand{
        height: 30px;
        width: 30px;
    }
  }